AWSTemplateFormatVersion: '2010-09-09'

Resources:
  ECSCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: kurchuster
      # Add additional properties for the ECS cluster

  ECSLandingTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      # Set properties for the landing Task Definition
      ContainerDefinitions:
        - Name: landing
          Image: nginx:latest
          PortMappings:
            - ContainerPort: 80
          # Add necessary parameters for the landing container

  ECSLandingService:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref "ECSCluster"
      TaskDefinition: !Ref ECSLandingTaskDefinition
      DesiredCount: 2
      LaunchType: EC2  
