AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  ECSClusterName:
    Type: String
    Default: kurchuster

Resources:
  LandingTaskDefinition1:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: LandingTask1
   

  LandingTaskDefinition2:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: LandingTask2
   

  LandingService1:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ECSClusterName
      TaskDefinition: !Ref LandingTaskDefinition1


  LandingService2:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ECSClusterName
      TaskDefinition: !Ref LandingTaskDefinition2

