AWSTemplateFormatVersion: '2010-09-09'
Resources:
  ECSCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: kurchuster
      # Додаткові властивості для ECS-кластера

  ECSLandingTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      # Встановіть властивості для Task Definition лендінгу
      ContainerDefinitions:
        - Name: landing
          Image: nginx:latest
          PortMappings:
            - ContainerPort: 80
          # Додайте необхідні параметри для контейнера лендінгу

  ECSLandingService:
    Type: AWS::ECS::Service
    Properties:
      Cluster: kurchuster
      TaskDefinition: !Ref ECSLandingTaskDefinition
      DesiredCount: 2
      LaunchType: EC2
