Parameters:
  ECSClusterName:
    Type: String
    Default: kurchuster

Resources:
  ECSCluster:
    Type: AWS::ECS::Cluster

  TaskDefinition1:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: justfamily1
      NetworkMode: bridge
      RequiresCompatibilities:
        - EC2
      ContainerDefinitions:
        - Name: web
          Image: nginx
          PortMappings:
            - ContainerPort: 80
          Memory: 512
          Cpu: 256

  TaskDefinition2:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: justfamily2
      NetworkMode: bridge
      RequiresCompatibilities:
        - EC2
      ContainerDefinitions:
        - Name: simple-task
          Image: hello-world
          Memory: 512
          Cpu: 256

  Service1:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ECSCluster
      DesiredCount: 1
      TaskDefinition: !Ref TaskDefinition1
      LaunchType: EC2
      SchedulingStrategy: REPLICA
      PlacementStrategies:
        - Type: random

  Service2:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ECSCluster
      DesiredCount: 1
      TaskDefinition: !Ref TaskDefinition2
      LaunchType: EC2
      SchedulingStrategy: REPLICA

Outputs:
  ClusterName:
    Value: !Ref ECSCluster

