AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  ECSClusterName:
    Type: String
    Default: kurchuster

Resources:
  LandingTaskDefinition1:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: LandingTask1
      ContainerDefinitions:
        - Name: landing-container1
          Image: "nginx"
          PortMappings:
            - ContainerPort: 80
          Environment:
            - Name: kurch
              Value: variable_value
          Memory: 512 

  LandingTaskDefinition2:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: LandingTask2
      ContainerDefinitions:
        - Name: landing-container2
          Image: "nginx"
          PortMappings:
            - ContainerPort: 80
          Environment:
            - Name: kurch2
              Value: variable_value
          Memory: 512 

  LandingService1:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ECSClusterName
      TaskDefinition: !Ref LandingTaskDefinition1
      

  LandingService2:
    Type: AWS::ECS::Service
    Properties:
      Cluster: !Ref ECSClusterName
      TaskDefinition: !Ref LandingTaskDefinition2
     
