name: Create EC2 Instance

on:
  push:
    branches:
      - master

jobs:
  create-ec2-instance:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS }}
          aws-secret-access-key: ${{ secrets.SECRET }}
          aws-region: eu-central-1

      - name: Create EC2 Instance
        run: |
          aws ec2 run-instances \
            --image-id ami-04e601abe3e1a910f
            --instance-type t2.micro \
            --key-name your-key-pair-name \    kurchello
            
