name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches:
      - master

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          docker build -t kurch1k/nikokovach:latest .

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_PASSWORD }}

      - name: Push Docker image to Docker Hub
        run: |
          docker push kurch1k/nikokovach:latest
