name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
          DOCKER_USERNAME:      ${{ secrets.KURCHELLO_USERNAME }}
          DOCKER_PASSWORD:      ${{ secrets.KURCHELLO_PASSWORD }}
          DOCKER_ACCESS_TOKEN:  ${{ secrets.KURCHELLO_TOKEN }}

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_TOKEN }}
