name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:





  build_and_push_docker_image:
    name:  Pop4ik
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.KURCHELLO_USERNAME }}
        password: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Build the Docker image

      run: |
        docker image build -t kurch1k/nikokovach:${{ github.sha }} .
        docker push kurch1k/nikokovach:${{ github.sha }}
    - name: Install Trivy
      run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y
    
    - name: Scan Docker image for vulnerabilities
      uses: aquasecurity/trivy-action@v0.3.0
      with:
          image-ref: kurch1k/nikokovach:${{ github.sha }}
          format: table
          severity: CRITICAL,HIGH
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload Trivy report as artifact to Docker Hub
      uses: docker/build-push-action@v2
      with:
          context: .
          push: false
          labels: |
            org.opencontainers.image.title=Trivy Report
            org.opencontainers.image.description=Report of vulnerabilities found by Trivy scan
            org.opencontainers.image.created=${{ github.run_number }}
          tags: report-${{ github.run_number }}
          target: report
          output: type=local,dest=./trivy-report.html
      env:
          DOCKER_USERNAME: ${{ secrets.KURCHELLO_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Publish Trivy report as artifact in Docker Hub
      uses: docker/build-push-action@v2
      with:
          context: .
          labels: |
            org.opencontainers.image.title=Trivy Report
            org.opencontainers.image.description=Report of vulnerabilities found by Trivy scan
            org.opencontainers.image.created=${{ github.run_number }}
          tags: report-${{ github.run_number }}
          target: report
          secrets: |
            DOCKER_USERNAME
            DOCKER_PASSWORD
          output: type=local,src=./trivy-report.html
        
  
    



      
      
