name: Deploy website

on: 
  push:
    branches: master

env: 
  AWS_REGION: eu-central-1

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS}}
          aws-secret-access-key: ${{ secrets.SECRET }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
          --stack-name kurchland \
          --template-file deploy.yml \
          --capabilities CAPABILITY_NAMED_IAM

          --no-fail-on-empty-changeset
