name: Deploy to S3 Bucket and Launch on EC2
on:
  push:
    branches:
      - master
jobs:
  deploy:
   runs-on: ubuntu-latest
   steps:
       - name: Checkout
         uses: actions/checkout@v2
       - name: Configure AWS credentials
         uses: aws-actions/configure-aws-credentials@v1
         with:
           aws-access-key-id: ${{ secrets.AWS_SECRET }}
           aws-secret-access-key: ${{ secrets.AWS_SECRET2 }}
           aws-region:  eu-central-1 
       - name: Sync files to S3
         run: |
           aws s3 sync . s3://kurchdeep --delete
       - name: Create SSH directory
         run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
       - name: Install SSH key
         run: echo "${{ secrets.SSH }}" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
          
       - name: Add EC2 instance to known_hosts
         run: ssh-keyscan -H 18.156.128.237 >> ~/.ssh/known_hosts
        
       - name: Launch on EC2
         run: |
              ssh -i "SSH" ubuntu@ec2-18-156-128-237.eu-central-1.compute.amazonaws.com
