name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build_and_push_docker_image:
    name: Pop4ik
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.KURCHELLO_USERNAME }}
        password: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Install Trivy
      run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y
    - name: Build the Docker image
      run: |
        docker image build -t kurch1k/nikokovach:${{ github.sha }} .
    - name: Scan Docker image with Trivy
      run: |
        trivy filesystem --exit-code 1 --format json --output /tmp/trivy-report.json kurch1k/nikokovach:${{ github.sha }}
      continue-on-error: true
    - name: Push
      run: |
        docker push kurch1k/nikokovach:${{ github.sha }}
   
    
    - name: Upload Trivy report to Docker Hub artifacts
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false
        labels: |
          trivy.severity=high
          trivy.severity=medium
          trivy.severity=low
        builder: docker
        file: Dockerfile
        artifacts: /tmp/trivy-report.json

