name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
          DOCKER_USERNAME:      ${{ secrets.KURCHELLO_USERNAME }}
          DOCKER_PASSWORD:      ${{ secrets.KURCHELLO_PASSWORD }}
          DOCKER_ACCESS_TOKEN:  ${{ secrets.KURCHELLO_TOKEN }}

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_TOKEN }}
          
          
          
          
  manual_build_and_push_docker_image:
    name: Manual Build and Push Docker Image
    needs: []
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
