name: Build and push Docker images

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  DOCKER_HUB_REPO: nikokovach
  DOCKER_IMAGE_NAME: ubuntu

jobs:
  build-and-push-master:
    name: Build and push Docker image for master branch
    runs-on: ubuntu-latest
    if: "github.ref == 'refs/heads/master'"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_PASSWORD }}

      - name: Build and push Docker image for master branch
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_HUB_REPO }}/${{ env.DOCKER_IMAGE_NAME }}:${{ github.sha }}

  build-and-push-manual:
    name: Build and push Docker image with manual tag
    runs-on: ubuntu-latest
    if: "github.event_name == 'workflow_dispatch'"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_PASSWORD }}

      - name: Ask for image tag
        id: tag_input
        run: |
          echo "::set-output name=TAG::$(read -p 'Enter image tag: ' tag && echo $tag)"

      - name: Build and push Docker image with manual tag
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_HUB_REPO }}/${{ env.DOCKER_IMAGE_NAME }}:${{ steps.tag_input.outputs.TAG }}
