name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build_and_push_docker_image:
    name: Pop4ik
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.KURCHELLO_USERNAME }}
        password: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Build the Docker image
      run: |
        docker image build -t kurch1k/nikokovach:${{ github.sha }} .
        docker push kurch1k/nikokovach:${{ github.sha }}
    - name: Install Trivy
      run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y
          
  scan-docker-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Scan Docker image for vulnerabilities
        run: |
          output=$(trivy kurch1k/nikokovach:${{ github.sha }} --exit-code 1 --format json)
          echo "$output" | tee trivy-report.json
          if echo "$output" | grep -q 'vulnerabilities";[]'; then
            echo "All Good" | tee trivy-report.json
          fi
      - name: Upload Trivy report as artifact
        uses: actions/upload-artifact@v2
        with:
          name: Trivy report
          path: trivy-report.json
