name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_TOKEN }}

      - name: TEST secrets
        run: echo ${{ secrets.KURCHELLO_USERNAME }} & echo ${{ secrets.KURCHELLO_PASSWORD }} & echo ${{ secrets.KURCHELLO_TOKEN }}



  build_and_push_docker_image:
    name:  Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.KURCHELLO_USERNAME }}
        password: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Build the Docker image
      run: docker image build -t kurch1k/nikokovach .
      
