name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:





  build_and_push_docker_image:
    name:  Pop4ik
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.KURCHELLO_USERNAME }}
        password: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Build the Docker image

      run: |
        docker image build -t kurch1k/nikokovach:${{ github.sha }} .
        docker push kurch1k/nikokovach:${{ github.sha }}
        
  
    



      
      
