name: Deploy to S3 and CloudFront

on:
  push:
    branches:
      - master

env:
  AWS_REGION: eu-central-1
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_SECRET }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET2 }}
  S3_BUCKET_NAME: kurchik
  CLOUDFRONT_DISTRIBUTION_ID: my-cloudfront-distribution-id

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip3 install awscli

      - name: Configure AWS CLI
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
          aws configure set default.region $AWS_REGION

      - name: Create S3 Bucket
        run: |
          aws cloudformation create-stack \
            --stack-name my-s3-bucket-stack \
            --template-body file://s3-bucket.yaml \
            --parameters ParameterKey=BucketName,ParameterValue=$S3_BUCKET_NAME

      - name: Upload index.html to S3
        uses: jakejarvis/s3-sync-action@v0.4.0
        with:
          args: --acl public-read --delete
        env:
          AWS_S3_BUCKET: ${{ env.S3_BUCKET_NAME }}
          AWS_S3_REGION: ${{ env.AWS_REGION }}
          SOURCE_DIR: 'path/to/index.html'
          DEST_DIR: ''

      - name: Create CloudFront Distribution
        run: |
          aws cloudformation create-stack \
            --stack-name my-cloudfront-distribution-stack \
            --template-body file://cloudfront-distribution.yaml \
            --parameters \
              ParameterKey=S3Bucket,ParameterValue=$S3_BUCKET_NAME \
              ParameterKey=S3BucketURL,ParameterValue=http://$S3_BUCKET_NAME.s3-website-$AWS_REGION.amazonaws.com

      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id $CLOUDFRONT_DISTRIBUTION_ID \
            --paths "/*"
