name: Deploy website

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS}}
          aws-secret-access-key: ${{ secrets.SECRET }}
          aws-region: eu-central-1

      - name: Install or Update AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --stack-name kurch1k \
            --template-file deploy.yml \
            --capabilities CAPABILITY_NAMED_IAM

      - name: Get CloudFront distribution ID
        id: cloudfront
        run: |
          distribution_id=$(aws cloudformation describe-stacks --stack-name kurch1k --query "Stacks[0].Outputs[?OutputKey=='CloudFrontDistributionId'].OutputValue" --output text)
          echo "::set-output name=distribution_id::$distribution_id"

      - name: Copy index.html to S3 bucket
        run: |
          aws s3 cp index.html s3://kurchucket

      - name: Invalidate CloudFront cache
        run: |
          distribution_id=${{ steps.cloudfront.outputs.distribution_id }}
          aws cloudfront create-invalidation \
            --distribution-id $distribution_id \
            --paths "/*"

