name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:





  build_and_push_docker_image:
    name:  Pop4ik
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.KURCHELLO_USERNAME }}
        password: ${{ secrets.KURCHELLO_TOKEN }}
    - name: Build the Docker image

      run: |
        docker image build -t kurch1k/nikokovach:${{ github.sha }} .
        docker push kurch1k/nikokovach:${{ github.sha }}
    - name: Install Trivy
      run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y
    - name: Check Docker image for vulnerabilities
      run: |
        trivy kurch1k/nikokovach:${{ github.sha }} --format=json --output=/tmp/trivy_report.json
      if: always()
    - name: Upload Trivy report to DockerHub artifacts
      uses: docker/build-push-action@v2
      with:
        context: .
        push: false
        file: /tmp/trivy_report.json
        tags: kurch1k/nikokovach:trivy-report-${{ github.sha }}
 
  
    



      
      
