name: Deploy CloudFormation Stack

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2 

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_SECRET }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET2 }}
        aws-region: eu-central-1

    - name: Install AWS CLI
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip
        sudo pip3 install awscli

    - name: Deploy CloudFormation stack
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_SECRET }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET2 }}
        AWS_REGION: eu-central-1
        STACK_NAME: "mini-civilization"
        TEMPLATE_URL: "https://github.com/kurcher/gachiland/blob/master/kurch.yml"
      run: |
        aws cloudformation create-stack \
          --stack-name $STACK_NAME \
          --template-url $TEMPLATE_URL \
          --capabilities CAPABILITY_NAMED_IAM
