name: Manual Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      workflow_name:
        description: 'Name of workflow:'
        required: true
        default: 'shadowmain.yml'
      tag:
        description: 'Docker image tag:'
        required: true
        default: 'latest'

jobs:

  manual_build_and_push:
    name:  Docker Image Manual Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.KURCHELLO_USERNAME }}
          password: ${{ secrets.KURCHELLO_TOKEN }}
      - name: Build and Push the Docker image
        run: |
          docker image build -t kurch1k/nikokovach:${{ github.event.inputs.tag }} .
          docker push kurch1k/nikokovach:${{ github.event.inputs.tag }}
   

