name: yurec

on:
  push:
    branches:      
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.ACCESS }}
        aws-secret-access-key: ${{ secrets.SECRETS }}
        aws-region: eu-central-1

    - name: Create EC2 Instances
      id: create-instances
      run: |
        aws cloudformation deploy --stack-name node --template-file ec2-template.yaml --capabilities CAPABILITY_NAMED_IAM
